data_dir         = "/var/lib/nomad"

addresses {
  http = "0.0.0.0"
  rpc  = "0.0.0.0"
  serf = "0.0.0.0"
}

{% if nomad_interface is defined %}
advertise {
  http = "{{ hostvars[inventory_hostname]['ansible_' + nomad_interface]['ipv4']['address'] }}"
  rpc  = "{{ hostvars[inventory_hostname]['ansible_' + nomad_interface]['ipv4']['address'] }}"
  serf = "{{ hostvars[inventory_hostname]['ansible_' + nomad_interface]['ipv4']['address'] }}"
}
{% elif ansible_default_ipv4 is defined %}
advertise {
  http = "{{ ansible_default_ipv4.address }}"
  rpc  = "{{ ansible_default_ipv4.address }}"
  serf = "{{ ansible_default_ipv4.address }}"
}
{% endif %}

{% if nomad_mode == "server" %}
server {
  enabled          = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}
{% else %}
client {
  enabled       = true
}
{% endif %}

{% if nomad_tls_enabled %}
tls {
  http = true
  rpc  = true

  ca_file   = "/etc/pki/tls/certs/{{ nomad_ca_file }}"
  cert_file = "/etc/pki/tls/certs/{{ nomad_cert_file }}"
  key_file  = "/etc/pki/tls/private/{{ nomad_key_file }}"
}
{% endif %}


