data_dir         = "/var/lib/nomad"

{% if nomad_mode == "server" %}
server {
  enabled          = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}
}
{% else %}
client {
  enabled       = true
}
{% endif %}


