export NOMAD_ADDR=https://localhost:4646
export NOMAD_CACERT=/etc/pki/tls/certs/{{ nomad_ca_file }}
export NOMAD_CLIENT_CERT=/etc/pki/tls/certs/{{ nomad_cert_file }}
export NOMAD_CLIENT_KEY=/etc/pki/tls/private/{{ nomad_key_file }}

